body {
  /*background-color: #151b24;*/
  background: radial-gradient(circle at 50% -40%, #70ffdd, transparent 50%),
    linear-gradient(to bottom, #091921, #151b24);
  color: white;
  font-family: Inter;
  background-attachment: fixed; /* Фиксируем фон */
}

.container {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  justify-content: center;
  padding: 30px;
}

.day-data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 80px;
}

.day {
  font-size: 32px;
  height: 39px;
}

.data {
  font-size: 16px;
  height: 19px;
}

.category-list {
  max-width: 170px;
}

.category-list li,
.create {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
  margin-bottom: 30px;
  overflow-wrap: break-word;
}

.classification-category.chosen {
  color: #70ffdd;
  border-bottom: 1px solid #70ffdd;
}

.category-list button {
  background-color: transparent;
  border: none;
  color: white;
}

.tasks-area {
  max-width: 600px;
  width: 100%;
}

.create-task {
  display: flex;
  flex-direction: row;
  border: none;
  margin: none;
  width: 100%;
}

.add-task {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 16px;
  color: white;
  padding: 5px 30px;
  height: 59px;
}

.creating-area {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 15px 12px;
  border: 1px solid white;
  border-radius: 16px;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(217, 217, 217, 0.05);
  margin-bottom: 20px;
  margin-right: 15px;
}

.new-task {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.986);
  padding: 3px 0px;
  height: 26px;
  background-color: transparent;
}

.parameter,
.parameter-category {
  display: flex;
  flex-direction: row;
}

.parameter-category,
.parameter-data {
  margin-left: 10px;
  padding: 5px 8px;
  border: 1px solid white;
  border-radius: 16px;
  background-color: transparent;
  color: white;
}

.parameter-category {
  margin-left: 10px;
  width: 120px;
  justify-content: space-between;
}

.tasks-area {
  display: flex;
  flex-direction: column;
}

.task-list,
.done-list {
  max-width: 100%;
}

.todo-item {
  color: black;
  background-color: rgba(255, 255, 255, 0.986);
  padding: 15px;
  margin-bottom: 10px;
  height: 50px;
  border-radius: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.todo-item.done {
  background-color: rgba(152, 152, 152, 0.986);
  text-decoration: line-through;
  color: gray;
  opacity: 0.7;
}

.todo-text {
  font-size: 16px;
  line-height: 19px;
}

.todo-data,
.todo-category {
  font-size: 13px;
  padding: 5px 8px;
  border: 1px solid rgb(217, 217, 217, 0.5);
  border-radius: 15px;
}

span#data-today {
  border: 1px solid #3cc5a5;
  color: #3cc5a5;
}

.mark-complete {
  height: 20px;
  width: 20px;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.986);
  border: 1px solid rgb(217, 217, 217, 0.5);
  color: #c0c0c0;
}

.calendar-wrapper {
  margin-top: 15px;
}

.category-wrapper {
  margin-top: 15px;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btns-data {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 5px;
}

.category-wrapper li,
.create-inverse {
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 10px;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
  text-align: center;
  width: 100%;
}

.category-wrapper Ul {
  width: 100%;
}

.create-inverse {
  background-color: transparent;
  border: none;
  color: black;
}

.selected-category {
  background-color: #4caf50; /* Зеленый фон */
  color: white; /* Белый текст */
  border-radius: 50%; /* Круглое выделение */
}

.new-list-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.new-category {
  font-size: 16px;
  height: 30px;
  color: black;
  margin-bottom: 20px;
}

.button-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-category-btn {
  padding: 10px 75px;
  border-radius: 8px;
}

.add-category-btn.active {
  padding: 10px 75px;
  border-radius: 8px;
  background-color: #70ffdd;
  color: #091921;
}

/* По умолчанию показываем ul, скрываем select */
#category-list-for-classification-select {
  cursor: pointer; /* Курсор указателя */
  appearance: none; /* Замена стандартного вида */
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 200px;
  background: #f0f0f0 url("../images/dropdown-arrow.png") no-repeat right 10px
    center;
  border: 1px solid #ccc;
  padding: 5px 30px 5px 10px; /* Резервируем место под стрелку */
  border-radius: 4px;
  background-size: 18px auto; /* подгон размера стрелки */
  background-position: right 10px center;
}

select option {
  width: 100%;
  box-sizing: border-box; /* Учитывает padding в ширине */
  overflow-wrap: break-word;
  overflow: hidden; /* Скрывает длинный текст */
}

@media (max-width: 767px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 15px;
  }
  .category-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-width: 300px;
    max-width: 450px;
    width: 100%;
  }
  #category-list-for-classification {
    display: none;
  }

  .tasks-area {
    width: 100%;
    max-width: 450px;
  }
  .creating-area {
    width: 85%;
    padding: 8px 8px;
    margin-right: 10px;
  }

  .add-task {
    width: 15%;
    padding: 6px 8px;
    margin-bottom: 20px;
  }

  .new-task {
    width: 50%;
  }

  .parameter-category {
    width: 60%;
  }

  .todo-item {
    height: auto;
    flex-wrap: wrap;
    gap: 12px;
  }

  #category-list-for-classification-select {
    display: block;
    height: 50%;
    border-radius: 8px;
    width: 150px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .category-list li,
  .create {
    width: 100px;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    padding: 20px;
  }

  .category-list {
    margin: 0 auto;
  }
}
